<?php


$CFG['db']['dsn'] = 'mysql:host=localhost;dbname=homeplate';
$CFG['db']['user'] = 'heimnetz';
$CFG['db']['password'] = 'mypassword';

$CFG['certs']['allowedSerials'] = [
    '2D1E13E39B',
    '2D1E13',

];





